/* CSS declarations go here */


.welcome-wrapper {
	margin-top: 100px;
	width: 400px;
	float: none;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
}

.why-gabble {
	list-style: none;
}

.hideme {
	display: none;
}

.no-padding {
	padding: 0px;
}

.url {
font-size: 20px;
line-height: 40px;
margin-top: 27px;
}

#copy {
	margin-top: 27px;
}

video {
	width: 100%;
}


p:last-child {
    margin-bottom: 32px;
}


#chat-box {
	height: 300px;
	overflow-y: scroll;
}

.chat-messages {
	width: 175px;
	word-wrap:break-word;
	line-height: 15px;
	margin-top: 10px;
}

.name {
	color:#2c3e50;
	text-transform: capitalize;
}

.message {
	font-style: italic;
}