/* CSS declarations go here */


.welcome-wrapper {
	margin-top: 100px;
	width: 400px;
	float: none;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
}

.why-gabble {
	list-style: none;
}

.hideme {
	display: none;
}

.no-padding {
	padding: 0px;
}

.url {
font-size: 20px;
line-height: 40px;
margin-top: 27px;
}

#copy {
	margin-top: 27px;
}

video {
	width: 250px;
	
}


p:last-child {
    margin-bottom: 32px;
}


#chat-box {
	height: 300px;
	overflow-y: scroll;
}

.chat-messages {
	width: 100%;
	word-wrap:break-word;
	line-height: 15px;
	margin-top: 10px;
}

.name {
	color:#2c3e50;
	text-transform: capitalize;
}

.message {
	font-style: italic;
}


::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}
#editor{
  width: 500px;
  height: 500px;
}
